.register{
    background-color: rgb(193, 190, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   .card{
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    background-color: white;
    min-height: 350px;
    border-radius: 10px;
    overflow: hidden;
    .left{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 60px;
        padding: 50px;
        background:linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url("https://images.pexels.com/photos/3228727/pexels-photo-3228727.jpeg?auto=compress&cs=tinysrgb&w=1600") center;
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        h1{
            font-size: 40px;
           line-height: 40px;

        }
        p{
            font-size: 20px;

        }
        span{
            font-size: 18px;

        }
        button{
            width: 50%;
            padding: 5px;
            font-weight: bold;
            color: rebeccapurple;
            border: none;
            border-radius: 2px;
            cursor: pointer;

        }

    }
    .right{
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 50px;
        padding: 40px;
        justify-content: center;
        h1{
            color: #555;

        }
        form{
            display: flex;
            flex-direction: column;
            gap: 30px;
            input{
                border: none;
                border-bottom: 1px solid gray;
                padding: 10px 10px;
            }
            

        }
        button{
            border: none;
            width: 50%;
            border-radius: 2px;
            padding: 10px;
            font-weight:bold;
            color: white;
            cursor: pointer;
            background-color: #938eef ;

        }
    }
   } 
}